.navbar {
    margin:25px 154px 0px 155px;
}

.navbar-brand {
  color: #6070FF;
  width: 76px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.nav-link {
  color: #344563;
}